/Pertemuan 8/CekCek/nbproject/private/
/Pertemuan 8/CekCek/build/
/Pertemuan 9/pdkel/nbproject/private/
/Pertemuan 9/pdkel/build/
/Pertemuan 9/Tugas/Tututugas/nbproject/private/
/Pertemuan 9/Tugas/Tututugas/build/
